<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" >
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="b75TestNGverboseattributetestngxmlfile.aLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- The verbose was used at suite level only if we pur verbose as 1 there is no difference but 
	 we put verbose more than 1 then we will see the difference-->
